/* Agrega estos estilos a tu archivo CSS */
.carousel-slide-up {
    transform: translateY(100%); /* Desplaza hacia abajo al inicio */
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
  }
  
  .carousel-slide-up.visible {
    transform: translateY(0); /* Se mueve a su posición original */
    opacity: 1;
  }
  