
  /*Luces*/

.luz_1{
  position: absolute;
  box-shadow: 200px 100px 1000px 100px blue;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  translate: -1000px 250px;
}

.luz_2{
  position: absolute;
  box-shadow: 100px 100px 1000px 300px #fe00ff;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  translate: 1000px 250px;
}
  