.grow {
  transition: transform 0.5s ease, color 0.1s ease;
}

.grow:hover {
  transform: scale3d(1.1, 1.1, 1);
}

@keyframes breathe {
  0%, 100% {
    transform: scale(0.8); /* Ajuste de escala menor */
  }
  50% {
    transform: scale(1);
  }
}

.h2 {
  font-weight: 100;
  font-optical-sizing: auto;
  line-height: 1.2;
  font-variation-settings: 'wght' 300, 'wdth' 85;
}

.h2 .char {
  display: inline-block;
  animation: breathe 4s infinite both;
  animation-delay: calc(var(--char-index) * 400ms);
}

.h2:hover .char {
  animation-play-state: paused;
}
