/* Programas */
@keyframes programas-animation {
  0% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(-100px, -100px);
  }
  70% {
    transform: translate(100px, -100px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.animate-programas {
  animation: programas-animation 8s infinite;
}

/* Sitios Webs*/
@keyframes sitios-animation {
  0% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(100px, -100px);
  }
  70% {
    transform: translate(-100px, -100px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.animate-sitios {
  animation: sitios-animation 8s infinite;
}

/* Aplicaciones*/
@keyframes aplicaciones-animation {
  0% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(-100px, -100px);
  }
  70% {
    transform: translate(100px, -100px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.animate-aplicaciones {
  animation: aplicaciones-animation 8s infinite;
}

/* Último texto: de abajo hacia arriba, luego se queda estático */
@keyframes ultimo-animation {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-ultimo {
  animation: ultimo-animation 5s forwards;
}
