@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Arima:wght@100..700&family=Dancing+Script:wght@400..700&family=Forum&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Rowdies:wght@300;400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Forum", serif; /* Fuente base para todo */
}

h1, h3, h4, h5, h6 {
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
}

h2, span{
  font-family: "Forum", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}



html.dark {
  background-color: #000000;
  color: #fff;
}

*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #114389;
}


/*ANIMACIONES DEL COMPONENTE CONTENT DE HERO*/
.rotate-y-180 {
  transform: rotateY(180deg);
}

.neon-effect {
  position: relative;
  border: 1px solid;
  border-color: rgba(0, 183, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 183, 255, 0.9),
              0 0 10px rgba(0, 183, 255, 0.7),
              0 0 10px rgba(0, 183, 255, 0.5),
              0 0 10px rgba(0, 183, 255, 0.3);
  animation: neonPulse 1.5s ease-in-out infinite alternate;
}

@keyframes neonPulse {
  from {
    box-shadow: 0 0 15px rgba(0, 183, 255, 0.9),
                0 0 10px rgba(0, 183, 255, 0.7),
                0 0 10px rgba(0, 183, 255, 0.5),
                0 0 10px rgba(0, 183, 255, 0.3);
  }
  to {
    box-shadow: 0 0 15px rgba(0, 183, 255, 0.6),
                0 0 10px rgba(0, 183, 255, 0.4),
                0 0 10px rgba(0, 183, 255, 0.2),
                0 0 10px rgba(0, 183, 255, 0.1);
  }
}
