/*  .sombra_1{
  box-shadow: 10px 15px 10px blue;
}

.sombra_2{
  box-shadow: -10px -15px 10px #fe00ff;
} */
/*
.sombra_3{
  box-shadow: 10px 0px 10px 0px blue;
}

.sombra_4{
  box-shadow: -10px 0px 10px 0px blue;
}
.sombra_5{
  box-shadow: 20px 0px 5px 0px #fe00ff;
} */

